@media screen and (max-width: 768px) {
   body {
       font-size: 5vw;
    text-orientation:sideways;
    writing-mode: vertical-rl;
   }

   #credits{
    left: 43%;
    width: 6vw;
    height: 100vh;
    font-size: 3vw;

}

   #container{
       grid-template-columns: auto auto;
       grid-template-rows: auto;

   }
   #top{
       height:100vh;
       width:50vw;
       overflow-wrap: break-word;
   }
   #bottom{
    height:100vh;
    width:50vw;
    overflow-wrap: break-word;

}
    }

    @media screen and (min-width: 768px) {

        body{
            font-size: 3vw;
        }

        #credits{
            bottom: 47%;
            width: 100vw;
            height: 6vh;
            font-size: 2vw;
            color: #494949;

        }

     
        #container{
            grid-template-rows: auto auto;
            grid-template-columns: auto;
     
        }
        #top{
            height: 50vh;
            width: 96vw;

        }
        #bottom{
            height: 50vh;
            width: 96vw;
     
     }
         }   
  
    body{
        font-family: Futura;
        display: flex;
      
    }
  
    #container {
        display: flex;
        text-align: center;
        height: 100vh;
        
    }
  
    #top {
        position: relative;
        display: grid;
        align-items: center;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    #bottom {
        position: relative;
        display: grid;
        align-items: center;
        padding-left: 2vw;
        padding-right: 2vw;
       
    }

    #credits {
        position: absolute;
        z-index: 10;
        background-color:#737373 ;
        color: white;
        font-style: italic;
        text-align: center;   
    }
