@media screen and (max-width: 768px) {
   body {
    text-orientation:sideways;
    writing-mode: vertical-rl;
   }

   #container{
       grid-template-columns: auto auto;
       grid-template-rows: auto;

   }
   #top{
       height:100vh;
       width:50vw;
       overflow-wrap: break-word;
   }
   #bottom{
    height:100vh;
    width:50vw;
    overflow-wrap: break-word;

}
    }

    @media screen and (min-width: 768px) {

     
        #container{
            grid-template-rows: auto auto;
            grid-template-columns: auto;
     
        }
        #top{
            height: 50vh;
            width: 96vw;

        }
        #bottom{
            height: 50vh;
            width: 96vw;
     
     }
         }   
  
    body{
        font-family: Futura;
        font-size: 3vw;
        display: flex;
      
    }
  
    #container {
        display: flex;
        text-align: center;
        height: 100vh;
        
    }
  
    #top {
        position: relative;
        display: grid;
        align-items: center;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    #bottom {
        position: relative;
        display: grid;
        align-items: center;
        padding-left: 2vw;
        padding-right: 2vw;
       
    }