body {
    font-family: Futura;
    font-size: 4vw;
}

#container {
    display: flex;
    justify-content: space-between;
    padding-top: 0%;
    
}

#left {
    width: 48vw;
    height: 100vh;
    overflow: scroll;
}

#right {
    width: 48vw;
    height: 100vh;
    overflow: scroll;
    background-color: black;
    color: white;
}