@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: Inter;
    background-color: beige;
    cursor:url(/workshops/assignment-8/slaypen.png), auto;
}


#stuff {
    text-align: center;
}
h1 {
    text-align: center;
    color: rgb(79, 108, 223);



}

.container {
    text-align: center;
}

.list {
    text-align: center;
}