/* @media screen and (min-width: 800px) {
    body {
      display: flex;
      flex-direction: column;
      orientation: landscape;
    }
  }



body {
    font-family: Futura;
    font-size: 4vw;
}

#container {
    display:flex;
    justify-content: space-between;
    padding-top: 0%;
    
}

#left {
    width: 48vw;
    height: 100vh;
    overflow: scroll;
}

#right {
    width: 48vw;
    height: 100vh;
    overflow: scroll;
    background-color: black;
    color: white;
    padding-left: 2vw;
} */



const Container = styled.div`
  position: relative;
`;

const Circle = styled.circle`
  fill: transparent;
  stroke: hsla(225, 20%, 92%, 0.9);
  stroke-linecap: round;
`;

const FilledCircle = styled(Circle)`
  stroke: hsla(225, 23%, 72%, 0.9);
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 0.5s ease-out;
`;

const Text = styled.div`
  align-items: center;
  color: hsla(225, 23%, 62%, 1);
  display: flex;
  font-weight: bold;
  height: 100%;
  justify-content: center;
  left: 0;
  letter-spacing: 0.025em;
  margin-bottom: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
`;