body {
    background-color: #A8A8A8;
    overflow: hidden;

}

#container {
    font-family: Inter;
    /* display: block; */
    background-color: #F9F9F9;
    border-radius: 70px;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
    position: relative;
    height: 94vh;
    box-shadow: 1vw 2vh;
    overflow: hidden;
}

.drawings {
    /* display: flex; */

    overflow: hidden;
    
}

.color1 {
    position: absolute;
    filter: invert(none) sepia(none) saturate(none) hue-rotate(none) brightness(none) contrast(none);

}

.color2 {
    position: absolute;
    filter: invert(none) sepia(none) saturate(none) hue-rotate(none) brightness(none) contrast(none);
    
}


#menu {
    background-color:#A8A8A8 ;
    display: flex;
    width: 9vw;
    height: 10vh;
    margin: 20vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50px;

    
}

.menu img {
    width: 6vw;
}

#menu_button:hover {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);

}