body {
    background-color: #A8A8A8;
    overflow: hidden;

}

#container {
    font-family: Inter;
    /* display: block; */
    background-color: #F9F9F9;
    border-radius: 70px;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
    position: relative;
    height: 94vh;
    box-shadow: 1vw 2vh;
    overflow: hidden;
}

.drawings {
    /* display: flex; */

    overflow: hidden;
    
}

.color1 {
    position: absolute;
    filter: invert(none) sepia(none) saturate(none) hue-rotate(none) brightness(none) contrast(none);

}

.color2 {
    position: absolute;
    filter: invert(none) sepia(none) saturate(none) hue-rotate(none) brightness(none) contrast(none);
    
}



.dropbtn {
    background-color: rgb(226, 226, 226);
    color: black;
    padding: 16px;
    font-size: 2vh;
    width: 5vw;
    height: 7vh;
    border: none;
    margin-top: 3vw;
    margin-left: 3vw;
    border-radius: 2vw;
  }

  .dropbtn img {
      width: 4vw
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(226, 226, 226);
    width: 5vw;
    z-index: 1;
    margin-left: 3vw;
    border-radius: 2vw;
  }
  
  /* Links inside the dropdown */
  .dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-top: 2vh;
  }

  .dropdown-content div img {
      width: 5vw
  }

  
  /* Change color of dropdown links on hover */
  .dropdown-content div:hover {filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn img {
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
        width: 4vw}

  .helpDiv {
      position: fixed;
      z-index: 100;
      width: 50vw;
      height: 20vh;
      background-color: rgba(194, 194, 194, 0.5);
      text-align: center;
      padding: 5%;
      left: 25%;
      top: 25%;
      display: block;
      border-radius: 2vw;
  }