/* @media only screen and (max-width: 738px) {
    body {
      display: flex;
      flex-direction: column;
    }

} */

body {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    font-family: Futura;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(248, 248, 248));
    padding-left: 2vw;
    padding-right: 2vw;
    text-align: justify;
    font-size: 4vh;
}

@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }
  .top-left {
    height: initial; 
    /* change to left-to-right writing */
  }
}
